<!-- <div class="sound-popup" *ngIf="soundEnabled === null">
  <div class="sound-modal">
    <h2>Enable sound?</h2>
    <p>This site uses subtle UI sounds.</p>

    <button (click)="enableSound()">Yes</button>
    <button (click)="disableSound()">No</button>
  </div>
</div> -->

<app-navbar></app-navbar>

<main>
  <router-outlet>
    
  </router-outlet>
</main>

<button
  class="back-to-top"
  *ngIf="showBackToTop"
  (click)="scrollToTop()"
  aria-label="Back to top">
  ↑
</button>



<app-footer></app-footer>

